<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>293107841901-6j203gnhnkcvtsnfj0gm73i8r6th228s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293107841901-6j203gnhnkcvtsnfj0gm73i8r6th228s</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Di7nosh3Vgbh2tcQvYTSYYN5sMeMmSk</string>
	<key>GCM_SENDER_ID</key>
	<string>293107841901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matttripodi.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>fir-lesson-68745</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-lesson-68745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:293107841901:ios:9503bf0eddbf9c91</string>
	<key>DATABASE_URL</key>
	<string>https://fir-lesson-68745.firebaseio.com</string>
</dict>
</plist>
